body{
    background-color: rgb(255, 255, 255);
}

.logo{
    text-align: center;
}

.search{
    background-color: rgb(238, 238, 238);
    text-align: center;
    font-size: medium;
    
}

td{
    
    display: table-cell;
    text-indent: initial;
    border-collapse: separate;
    border-spacing: 2px;
}

table{
    width:70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: center;
    font-size: 15px;
}
